In [1]:
    #IMPORTINNG LIBRARIES

import numpy as np
import pandas as pd

#2 variables
True_news=pd.read_csv(r'C:\Users\ap452\OneDrive\Desktop\PYTHON WITH AI\True.csv')
Fake_news=pd.read_csv(r'C:\Users\ap452\OneDrive\Desktop\PYTHON WITH AI\Fake.csv')

C:\Users\ap452\AppData\Local\Temp\ipykernel_10064\4000728585.py:8: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  Fake_news=pd.read_csv(r'C:\Users\ap452\OneDrive\Desktop\PYTHON WITH AI\Fake.csv')

In [2]:
True_news #retrieving data

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,31-Dec-17
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,29-Dec-17
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,31-Dec-17
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,30-Dec-17
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,29-Dec-17
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,22-Aug-17
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,22-Aug-17
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,22-Aug-17
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,22-Aug-17
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,22-Aug-17

In [3]:
True_news['label']=0   #to add a column to both type of news
Fake_news['label']=1
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,31-Dec-17,0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,29-Dec-17,0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,31-Dec-17,0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,30-Dec-17,0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,29-Dec-17,0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,22-Aug-17,0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,22-Aug-17,0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,22-Aug-17,0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,22-Aug-17,0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,22-Aug-17,0

In [4]:
Fake_news

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,label
0,Donald Trump Sends Out Embarrassing New Yearâ...,Donald Trump just couldn t wish all Americans ...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,30-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Trump Is So Obsessed He Even Has Obamaâ€™s Na...,"On Christmas day, Donald Trump announced that ...",News,29-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,25-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,16-Jan-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,16-Jan-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23499,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan ...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,15-Jan-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,14-Jan-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,12-Jan-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [5]:
dataset1 =True_news[['title','label']]
dataset2 =Fake_news[['title','label']]

In [6]:
dataset2

                                                   title  label
0       Donald Trump Sends Out Embarrassing New Yearâ...      1
1       Drunk Bragging Trump Staffer Started Russian ...      1
2       Sheriff David Clarke Becomes An Internet Joke...      1
3       Trump Is So Obsessed He Even Has Obamaâ€™s Na...      1
4       Pope Francis Just Called Out Donald Trump Dur...      1
...                                                  ...    ...
23497  McPain: John McCain Furious That Iran Treated ...      1
23498  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      1
23499  Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan ...      1
23500  How to Blow $700 Million: Al Jazeera America F...      1
23501  10 U.S. Navy Sailors Held by Iranian Military ...      1

[23502 rows x 2 columns]

In [7]:
dataset=pd.concat([dataset1,dataset2])

In [8]:
dataset

                                                   title  label
0      As U.S. budget fight looms, Republicans flip t...      0
1      U.S. military to accept transgender recruits o...      0
2      Senior U.S. Republican senator: 'Let Mr. Muell...      0
3      FBI Russia probe helped by Australian diplomat...      0
4      Trump wants Postal Service to charge 'much mor...      0
...                                                  ...    ...
23497  McPain: John McCain Furious That Iran Treated ...      1
23498  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      1
23499  Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan ...      1
23500  How to Blow $700 Million: Al Jazeera America F...      1
23501  10 U.S. Navy Sailors Held by Iranian Military ...      1

[44919 rows x 2 columns]

In [9]:
dataset.shape  #81 datapoints and 2 is number of columns

(44919, 2)

In [10]:
#to check nullvalue in dataset before preprocessing
#missing values
dataset.isnull().sum()
#NO VALUES ARE NULL -output

title    0
label    0
dtype: int64

In [11]:
dataset["label"].value_counts()   #0 has 41 datapoints
                                  #1 has 40 datapoints

label
1    23502
0    21417
Name: count, dtype: int64

In [12]:
#shuffle 0 & 1 to break biasing
#RESAMPLING
dataset=dataset.sample(frac =1)

In [13]:
dataset

                                                   title  label
2231    Dan Rather Just Took Republicans To The Woods...      1
18769  Brexit talks warmer after May's speech, but no...      0
13069  Pentagon evaluating U.S. West Coast missile de...      0
12850  WIKILEAKS Posts NEW Documentâ€¦Shows Hillary R...      1
13094  Trump tells Abbas intends to move embassy to J...      0
...                                                  ...    ...
5880   Trump aides call travel ban success despite br...      0
8942    Montel Williams SHAMES The NRA: Responsible G...      1
879     Idiot Donald Trump Jr. Just Released Russian ...      1
2415   Trump threatens to end insurance payments if n...      0
20113  In the weeds: How top official got tangled in ...      0

[44919 rows x 2 columns]

In [14]:
#natural learning process(machine understands only 0's and 1's) -- nltk

import nltk
import re #datacleaning library
from nltk.corpus import stopwords       
from nltk.stem import WordNetLemmatizer 
stopwords = nltk.corpus.stopwords.words('english')

In [15]:
ps = WordNetLemmatizer()

In [16]:
#CLEANING PROCESS
def clean_row(row):
    row=row.lower() #all textual charaters to lower
    row=re.sub('[^a-zA-Z]',' ',row) #spl characters & numbers removing
    
    token=row.split() #by lemmatizing we have to give token
    
    news=[ps.lemmatize(word) for word in token if not word in stopwords] #lemmatize
    
    cleanned_news=' '.join(news)  #join all tokens since tokens are given for each lem.words
    
    return cleanned_news

###lemmatizing--> a,an,the,and ---stop words ,so we have to lemmatize and remove all stop words
#1.my name is nithika and my field is AI

#2.my name is nithika field AI
   0   1    2  3      4     5
#PROCESS
##my , is ---> stopwords removed


##firstly whole sentence into tokens and it removes repetetive tokens eg.my,is
##machine learning model takes the token vector not the textual word''''''

In [17]:
dataset['title']

2231      Dan Rather Just Took Republicans To The Woods...
18769    Brexit talks warmer after May's speech, but no...
13069    Pentagon evaluating U.S. West Coast missile de...
12850    WIKILEAKS Posts NEW Documentâ€¦Shows Hillary R...
13094    Trump tells Abbas intends to move embassy to J...
                               ...
5880     Trump aides call travel ban success despite br...
8942      Montel Williams SHAMES The NRA: Responsible G...
879       Idiot Donald Trump Jr. Just Released Russian ...
2415     Trump threatens to end insurance payments if n...
20113    In the weeds: How top official got tangled in ...
Name: title, Length: 44919, dtype: object

In [18]:
dataset['title']=dataset['title'].apply(lambda x :clean_row(x))

In [19]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ap452\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [20]:
dataset['title'] #clean data

2231     dan rather took republican woodshed passing ho...
18769                brexit talk warmer may speech closure
13069    pentagon evaluating u west coast missile defen...
12850    wikileaks post new document show hillary repor...
13094    trump tell abbas intends move embassy jerusale...
                               ...
5880     trump aide call travel ban success despite bro...
8942     montel williams shame nra responsible gun owne...
879      idiot donald trump jr released russian email c...
2415     trump threatens end insurance payment healthca...
20113    weed top official got tangled nigerian aid sca...
Name: title, Length: 44919, dtype: object

In [21]:
#text into vectors , vectors into ML

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer #tis lib also converts data into lower case but already done keep it 0
vectorizer=TfidfVectorizer(max_features=500,lowercase=False,ngram_range=(1,2))

In [23]:
#splitting for training and testing  

x=dataset.iloc[:35000,0]
y=dataset.iloc[:35000,1]

In [24]:
x

2231     dan rather took republican woodshed passing ho...
18769                brexit talk warmer may speech closure
13069    pentagon evaluating u west coast missile defen...
12850    wikileaks post new document show hillary repor...
13094    trump tell abbas intends move embassy jerusale...
                               ...
8031     conservative lose mind obama skipping racist h...
12670    briton change term brexit diverge eu pro brexi...
5320     watch utah republican leaf gop disappointing g...
1599     trump ridiculously claimed palestine israel ge...
6916     hawaii grandma plea launch woman march washington
Name: title, Length: 35000, dtype: object

In [25]:
y

2231     1
18769    0
13069    0
12850    1
13094    0
        ..
8031     1
12670    0
5320     1
1599     1
6916     0
Name: label, Length: 35000, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
train_data,test_data,train_label,test_label = train_test_split(x,y ,test_size=0.2,random_state= 0)

In [27]:
train_label

2411     0
16443    1
20252    0
8496     0
2008     0
        ..
284      0
4923     0
9003     0
708      0
2633     0
Name: label, Length: 28000, dtype: int64

In [28]:
#vectorizing train data only
vec_train_data = vectorizer.fit_transform(train_data)
vec_train_data=vec_train_data.toarray()

In [29]:
vec_train_data.shape

(28000, 500)

In [30]:
vec_test_data=vectorizer.fit_transform(test_data)
vec_test_data=vec_test_data.toarray()

In [31]:
vec_test_data.shape

(7000, 500)

In [32]:
vec_test_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [33]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [34]:
import pandas as pd
from pandas import DataFrame;

In [35]:

training_data=pd.DataFrame(vec_train_data,columns = vectorizer.get_feature_names_out())
testing_data=pd.DataFrame(vec_test_data,columns = vectorizer.get_feature_names_out())

In [36]:
training_data

,abortion,act,action,activist,ad,administration,agency,aid,aide,air,...,worker,world,would,wow,year,year old,york,yr,yr old,zimbabwe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#MODEL
from sklearn.naive_bayes import MultinomialNB

In [38]:
clf=MultinomialNB()

In [39]:
clf.fit(training_data,train_label)

MultinomialNB()

In [40]:
y_pred = clf.predict(testing_data)

In [41]:
test_label

5559     0
12562    1
8173     0
682      0
20766    1
        ..
11159    1
2707     0
11498    0
1575     0
3799     0
Name: label, Length: 7000, dtype: int64

In [42]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [43]:
#ACCURACY SCORE CHECK
from sklearn.metrics import accuracy_score
accuracy_score(test_label,y_pred)

0.6242857142857143

In [44]:
y_train_pred=clf.predict(training_data)
accuracy_score(train_label,y_train_pred)

0.8766071428571428

In [45]:
#NEWDATA

In [46]:
txt="The following statementsÂ were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Based on the fact that the very unfair and unpopular Individual Mandate has been terminated as part of our Tax Cut Bill, which essentially Repeals (over time) ObamaCare, the Democrats & Republicans will eventually come together and develop a great new HealthCare plan! [0658 EST] - WOW, @foxandfrlends â€œDossier is bogus. Clinton Campaign, DNC funded Dossier. FBI CANNOT (after all of this time) VERIFY CLAIMS IN DOSSIER OF RUSSIA/TRUMP COLLUSION. FBI TAINTED.â€ And they used this Crooked Hillary pile of garbage as the basis for going after the Trump Campaign! [0824 EST] - All signs are that business is looking really good for next year, only to be helped further by our Tax Cut Bill. Will be a great year for Companies and JOBS! Stock Market is poised for another year of SUCCESS!"

In [47]:
news = clean_row(txt)

In [48]:
news

'following statement posted verified twitter account u president donald trump realdonaldtrump potus opinion expressed reuters edited statement confirmed accuracy realdonaldtrump based fact unfair unpopular individual mandate terminated part tax cut bill essentially repeal time obamacare democrat republican eventually come together develop great new healthcare plan est wow foxandfrlends dossier bogus clinton campaign dnc funded dossier fbi cannot time verify claim dossier russia trump collusion fbi tainted used crooked hillary pile garbage basis going trump campaign est sign business looking really good next year helped tax cut bill great year company job stock market poised another year success'

In [49]:
pred=clf.predict(vectorizer.transform([news]).toarray())

C:\Users\ap452\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [50]:
pred

array([1], dtype=int64)

In [51]:
if pred==0:
    print("News Is True")
else:
    print("News Is Fake")

News Is Fake